.git
.gitignore
.github
.DS_Store
.vscode
.idea
.opencode
.sst
.turbo
.wrangler
node_modules
**/node_modules
**/.output
**/.turbo
**/dist
**/.artifacts
**/.cache
**/.next
**/.vite
**/coverage
**/target
.env
.env.local
.env.*.local
*.log
*.swp
*.swo
Dockerfile
docker-compose.yml
docker-compose.*.yml
README.md
